<div class="container mt-4 col-sm-6">
    <div class="card text-center">
        <div class="card-header">
          Comercio Electrónico
        </div>
        <div class="card-body">
          <h5 class="card-title">Bienvenido a su portal de compras faster</h5>
          <p class="card-text">Realiza tus compras y obten tu envío gratis</p>
          <a class="btn btn-primary" id="linkListarCompra" routerLink="../compra/listar" routerLinkActive="active">Comprar</a>
        </div>
        <div class="card-footer text-muted">
        </div>
      </div>
  </div>