<div class="container mt-4 col-sm-6">
  <div class="card bg-gray text-black">
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Valor</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody class="products">
          <tr id="{{producto.codigoProducto}}" *ngFor="let producto of productos; let i=index">
            <td>{{producto.codigoProducto}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.valorProducto}}</td>
            <td><i id="borrar-{{producto.codigoProducto}}" class="bi bi-trash-fill btn-borrar" (click)="eliminarProducto(producto,i)"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>